<div style="max-width: 100%; position: relative; padding: 0 20px;">

  <table cellspacing="0" class="admin_table" style="max-width: 100%;">
    <thead>
    <tr>
      <th  style="text-align: center;">Item ID</th>
      <th  style="text-align: center;">Type</th>
      <th  style="text-align: center;">Size</th>
      <th  style="text-align: center;">Color</th>
      <th  style="text-align: center;">Clearance Date</th>
      <th  style="text-align: center;">Sold At</th>
    </tr>
    </thead>
    <tbody>
    <% @clearance_items.each do |item| -%>
        <tr>
          <td style="text-align: center;"> <%=item.id %></td>
          <td style="text-align: center;"> <%=item.style.type %></td>
          <td style="text-align: center;"> <%=item.size %></td>
          <td style="text-align: center;"> <%=item.color %></td>
          <td style="text-align: center;"> <%=item.clearance_batch.created_at %></td>
          <td style="text-align: center;"> $<%=item.price_sold %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%=  stylesheet_link_tag "clearance_batches" %>